section.about 
    .about-intro-wrap 
        .about-intro__decoration--top
            img(src="./assets/images/homepage/quotes-regular.png", alt="")
        .about-intro__decoration--bottom 
            img(src="./assets/images/homepage/quotes-rotated.png", alt="")
        .about-intro
            h2.about-intro__title.text-48 Mgr. Maxim Vihorev, CEO and founder
            .about-intro__text-wrap 
                p.about-intro__text-descr.text-16 Říčany is repeatedly perceived as the best place to live - we would like it to be perceived equally positively for the further development of business activities by companies and the public. The VIHOREV Group is therefore pleased to present its plan for apartment accommodation (Aparthotel) operated in the form of serviced apartments.
                p.about-intro__text-descr--shifted.text-16 The project will be created by transforming the landmark of Říčany - the ALFA Tower building, within the Live & Work concept under the Honest Řičany brand. This concept consists of a combination of short and medium-term rentals of serviced apartments and smaller, fully equipped offices (Flexi offices) including co-working spaces.
            .about-intro__img-wrap 
                img(src="./assets/images/homepage/about-small.jpg", alt="").about-intro__img
            .about-intro__text-wrap 
                p.about-intro__text-descr.text-16 The project includes 120 apartments and approximately 200 workplaces in Flexi offices. This is a very dynamic segment, which is growing rapidly not only in the US and the UK and corresponds to the current trend of „subscription economy“ and „hustle free“ lifestyle.
                p.about-intro__text-descr--shifted.text-16 In addition to a range of high-level services, the project will deliver a range of energy-saving measures in materials and technology solutions, including green roofs. The scheme includes a novel design that preserves the industrial feel of the site in the interiors.
    .about-img-wrap
        img(src="./assets/images/homepage/about-full.jpg", alt="")