section.book-main-screen
    .book-main-screen-wrap
        .book-main-screen-title-wrap
            h1.book-main-screen-title Інтерактивний
            .book-main-screen-title-inner
                h1.book-main-screen-title підручник
                img(src="./assets/images/red-man.svg", alt="").book-main-screen-title__img--red
                img(src="./assets/images/orange-man.svg", alt="").book-main-screen-title__img--orange
        .book-main-screen-nav.book-nav-wrap
            ul.book-nav
                li.book-nav-item 
                    a(href="#book-item--1").book-nav-item__link Знайомство
                li.book-nav-item 
                    a(href="#book-item--2").book-nav-item__link Фізичний рівень
                li.book-nav-item 
                    a(href="#book-item--3").book-nav-item__link Канальний рівень
                li.book-nav-item 
                    a(href="#book-item--4").book-nav-item__link Мережевий рівень
                li.book-nav-item 
                    a(href="#book-item--5").book-nav-item__link Транспортний рівень
                li.book-nav-item 
                    a(href="#book-item--6").book-nav-item__link Сеансовий рівень та рівень представлень
                li.book-nav-item 
                    a(href="#book-item--7").book-nav-item__link Прикладний рівень
                li.book-nav-item 
                    a(href="#book-item--8").book-nav-item__link Переміщення даних по мережі

        
        
                    