section.main-screen.slide 
    .main-screen-wrap.wrap-main
        .main-screen-img-wrap 
            img(src="./assets/images/homepage/1.jpg", alt="" img-paralax).main-screen-img
        .main-screen-intro-container 
            .main-screen-intro
                .main-screen-intro-img-wrap
                    img(src="./assets/images/homepage/2.jpg", alt="" img-paralax).main-screen-intro-img
                .main-screen-intro-text 
                    h1.main-screen-intro-title.text-48 welcome to Alfa tower
                    p.main-screen-intro-descr.text-16 novel design that preserves the industrial feel of the site in the interiors.
        
                    