.about {
    display: flex;

    &-intro-wrap {
        padding: 120px 170px 220px 178px;
        width: 50%;
        height: fit-content;
        position: relative;


    }

    &-intro__decoration--top {
        position: absolute;
        left: 20px;
        max-width: 133px;

    }

    &-intro__decoration--bottom {
        position: absolute;
        max-width: 133px;
        left: 337px;
        bottom: 104px;

    }

    &-intro {

    }

    &-intro__title {

    }

    &-intro__text-wrap {
        margin-bottom: 20px;
        margin-top: 20px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    &-intro__text-descr {
        margin-bottom: 20px;

    }

    &-intro__text-descr--shifted {
        margin-left: 159px;

    }

    &-intro__img-wrap {

    }
    
    &-intro__img {

    }

    &-img-wrap {
        width: 50%;
        
        img {
            object-fit: cover;
            object-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }

    }
}