.book {
	&-line-container {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 987px;
		z-index: 1;
	}

	&-line-img-bg {
		position: absolute;
		width: 1750px;
		left: 50%;
		transform: translateX(-50%);

	}

	&-main-screen {
		// background-image: url('../../assets/images/main-bg.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 1080px;
	}

	&-main-screen-wrap {
		padding: 60px 100px;

	}

	&-main-screen-title-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 97px;

	}
	&-main-screen-title {
		font-family: 'Press Start 2P';
		font-style: normal;
		font-weight: 400;
		font-size: 120px;
		line-height: 140%;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;


	}

	&-main-screen-title-inner {
		position: relative;

	}

	&-main-screen-title__img--red {
		position: absolute;
		height: 83px;
		width: 83px;
		top: 0;
		right: -30px;
		transform: translateY(-35%);
		

	}

	&-main-screen-title__img--orange {
		height: 124.5px;
		width: 124.5px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-130%, -50%);

	}

	&-main-screen-nav {
		

	}

	&-nav {
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	&-nav-item {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		

	}
	&-nav-item__link {
		font-family: $default-font;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 18px;
		color: #FFFFFF;
		width: fit-content;
		padding-left: 12px;
		position: relative;

		&::before {
			content: '';
			display: block;
			background-image: url('../../assets/images/arrow-menu.svg');
			height: 32px;
			width: 32px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-100%, -50%);
			opacity: 0;
			transition: all ease-in-out 0.2s;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
		

	}

	&-footer {

	}

	&-footer-wrap {

	}

	&-footer-title {
		font-family: 'Press Start 2P';
		font-style: normal;
		font-weight: 400;
		font-size: 120px;
		line-height: 140%;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 84px;

	}
	
	&-footer-chelik {

	}
}

#viewport {
	position: relative;
	width: 100%;
	height: 100%;  
  }
  
  #animation-container {
	position: absolute;
	width: 100%;
	height: 9464px;
	// will-change: transform;
  }
  
  #rect {
	width: 160px;
	will-change: transform;
  }
  
  #svg {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
  }
  
  #rect125 {
	fill: none;
	stroke-width: 0.4;
	stroke: none;
  }