header.header
    .header-menu__group
        button#header-menu.header-menu
            .header-menu__icon-1 
                +svg('pink')
            span.header-menu__title Menu
            .header-menu__icon-2
                +svg('red')
        #menu
            .header-book-nav__icon-1 
                +svg('pink')
            .header-book-nav__icon-2
                +svg('red')
            .header-book-nav-wrap.book-nav-wrap
                ul.book-nav
                    li.book-nav-item 
                        a(href="#book-item--1").book-nav-item__link Знайомство
                    li.book-nav-item 
                        a(href="#book-item--2").book-nav-item__link Фізичний рівень
                    li.book-nav-item 
                        a(href="#book-item--3").book-nav-item__link Канальний рівень
                    li.book-nav-item 
                        a(href="#book-item--4").book-nav-item__link Мережевий рівень
                    li.book-nav-item 
                        a(href="#book-item--5").book-nav-item__link Транспортний рівень
                    li.book-nav-item 
                        a(href="#book-item--6").book-nav-item__link Сеансовий рівень та рівень представлень
                    li.book-nav-item 
                        a(href="#book-item--7").book-nav-item__link Прикладний рівень
                    li.book-nav-item 
                        a(href="#book-item--8").book-nav-item__link Переміщення даних по мережі

                