extends ../layout/main	
block meta
	title= '404'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/vendors.bundle.js')
	script(defer src='./assets/scripts/index.bundle.js')

block content
	section.page404-wrap
		.page404
			h1.page404__title 404
			.page404-intro
				h2.page404__title-small There is no such page.
				p.page404__subtitle Start with the main or see what apartments we offer
				.page404__link-wrap
					.btn-container.btn-container-border
						.btn-mask Back
						a(onclick="window.history.go(-1);").page404-btn.btn Back
					.btn-container.btn-container-border
						.btn-mask Homepage
						a(href="/").page404-btn.btn Homepage
block header	
	include ../includes/header.pug


block footer
	footer.footer
		include ../includes/footer.pug
