
extends ../layout/main

block variable
  -
    var title_page = 'Home'
    var id_page = 'id-home-page'
    var class_page = 'home-page'
    //- var breadcrumbsSubitem = [
    //-   {
    //-     label: 'allNews',
    //-     link: pagesLink[0].allNews
    //-   }
    //- ]

block meta
  title= 'Homepage'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts

  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/homepage.bundle.js')  
  

block header
  include ../includes/header.pug
block content
  .container
    .book-wrap#viewport
      .book-line-container#animation-container
        img(src="./assets/images/dotline.png", alt="").book-line-img-bg       
        <svg id="svg" width="1920" height="9464" viewBox="0 0 1730 9464" fill="none" version="1.1" id="svg167" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
          <defs id="defs171" />
          <g id="rect" width="160" height="160" viewBox="0 0 160 160" fill="none"> 
            <path d="M54.034 11.2269L43.4256 11.2269L32.8128 11.2269L32.8128 21.8353L22.2037 21.8353L22.2037 32.4438L11.5952 32.4438L11.5952 43.0558L11.5952 53.6635L0.982433 53.6635L0.982432 64.2748L0.98243 74.8833L0.982429 85.4946L0.982427 96.103L11.5952 96.103L11.5952 106.714L11.5952 117.324L22.2036 117.324L22.2036 127.933L32.8128 127.933L32.8128 138.542L43.4256 138.542L43.4256 127.933L43.4256 117.324L43.4256 106.714L54.034 106.714L54.034 96.103L54.034 85.4946L54.034 74.8833L64.6432 74.8833L64.6432 64.2748L64.6432 53.6635L64.6432 43.0558L75.2516 43.0558L85.86 43.0558L85.86 53.6635L85.86 64.2748L85.86 74.8833L96.4692 74.8833L96.4692 85.4946L96.4692 96.103L96.4692 106.714L107.077 106.714L107.077 117.324L107.077 127.933L107.077 138.542L117.691 138.542L117.691 127.933L128.3 127.933L128.3 117.324L138.908 117.324L138.908 106.714L138.908 96.103L149.521 96.103L149.521 85.4946L149.521 74.8833L149.521 64.2748L149.521 53.6635L138.908 53.6635L138.908 43.0558L138.908 32.4438L128.3 32.4438L128.3 21.8354L117.691 21.8354L117.691 11.2269L107.077 11.2269L96.4692 11.2269L96.4692 0.616346L85.86 0.616344L75.2516 0.616343L64.6432 0.616341L54.034 0.61634L54.034 11.2269Z" fill="#FBFF08"/>
          </g>
          <svg width="1730" height="9464">
            <path id="rect125" d="M865 0V2.5V194M865 195V194M865 194H882H1729M1730 194H1729M1729 194V1166M1729 1167V1166M1729 1166H1M0 1166H1M1 1166V2138M1 2139V2138M1 2138H1729M1730 2138H1729M1729 2138V3110M1729 3111V3110M1729 3110H1M0 3110H1M1 3110V4082M1 4083V4082M1 4082H1729M1730 4082H1729M1729 4082V5054M1729 5055V5054M1729 5054H1M0 5054H1M1 5054V6026M1 6027V6026M1 6026H865M866 6026H865M865 6026V7400M865 7401V7400M865 7400H1729M1730 7400H1729M1729 7400V8372M1729 8373V8372M1729 8372H1M0 8372H1M1 8372V9344M1 9345V9344M1 9344H865M866 9344H865M865 9344V9464" />
          </svg>
        </svg>
      .book-content 
        include ../includes/homepage/intro.pug
        include ../includes/homepage/main.pug
        include ../includes/homepage/footer.pug

  
  

block modal
  

  

block footer
  include ../includes/footer.pug


